body {
    padding-top: 3.5rem;
}

p {
    color: rgb(31, 31, 31);
}

h3 {
    float: left;
    margin: 30px;
}

.red-line {
    background-color: #ce132d;
    border: 3px solid #ce132d;
}

.btn {
    font-size: 15px;
    border: 0px;
    padding: 10px;
    margin: 3px;    
}

.btn-primary {
    background-color: #ce132d;
}

.btn-primary:hover {
    background-color: rgb(11, 187, 187);
}

.btn-secondary {
    background-color: #dadada;
    color: black;
}

.btn-secondary:hover {
    background-color: rgb(168, 169, 170);
}

.btn-danger {
    background-color: brown;
}

.btn-danger:hover {
    background-color: rgb(197, 86, 86);
}

.btn-dark{
    background-color:#dadada;
    box-shadow: 0px;
    border: 0px;
    font-size: 20px;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-success {
    background-color: #ce132d;
}

.card-columns {
    columns: auto;
    display: inline-block;
    margin: 0px;
    
}

.card {
    border-width: 0px;
    /*background-color:  rgb(233, 236, 239);*/
    margin: 0px;
    max-width: 350px;
    min-width: 350px;
}

.card .card-header {
    background: none;
    box-shadow: none;
}

.card .card-body {
    background-color:  rgb(233, 236, 239);
    /*border-color: rgb(233, 236, 239);*/
    /*border-radius: 2px;*/
    margin: 10px;
}

.card .card-title {
    padding: 10px;
    position: relative;
}

.card .card-text {
    padding: 5px;
    position: relative;
}

.jumbotron {
    padding-bottom: 30px;
    background-color: #ffffff;
}

.float-left {
    margin-right: 30px;
    margin-bottom: 50px;
}

.footer {
    float: bottom;
    position: relative;
    background-color: #cccccc;
}

#formBox {
    float: center;
    /*background-color: rgb(233, 236, 239);*/
    /*max-width: 650px;
    min-width: 650px;*/
    max-height: 500px;
    min-height: 500px; 
    margin: auto;
    width: 70%;
    border: 3px solid green;
    padding: 10px;
    align-content: center;
    vertical-align: middle;


}

#searchResultBox {
    margin-bottom: 30px;
}

.navbar-dark {
    background-color: #dadada;
}

.nav-link {
    color: black;
}