body {
    padding-top: 3.5rem;
}

p {
    color: #242424;
}

h3 {
    float: left;
    margin: 30px;
}

.red-line {
    background-color: #ce132d;
    border: 3px solid #ce132d;
}

.btn {
    font-size: 15px;
    border: 0px;
    padding: 10px;
    margin: 3px;    
}

.btn-primary {
    background-color: #ce132d;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #ec3850;
    color: #ffffff;
}

.btn-secondary {
    background-color: #dadada;
    color: #000000;
}

.btn-secondary:hover {
    background-color: #eee7e7;
    color: #000000;
}

.btn-danger {
    background-color: #919191;
}

.btn-danger:hover {
    background-color: #ce132d;
}

.btn-dark{
    background-color:#dadada;
    box-shadow: 0px;
    border: 0px;
    font-size: 20px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-dark:hover {
    background-color:#e9e9e9;
    color: #000000;
}

.a-btn{
    background-color:#dadada;
    box-shadow: 0px;
    border: 0px;
    font-size: 20px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.a-btn:hover {
    background-color:#e9e9e9;
    color: #000000;
}

.btn-little{
    background-color:#dadada;
    box-shadow: 0px;
    border: 0px;
    font-size: 15px;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-little:hover {
    background-color:#e9e9e9;
    color: #000000;
}

.btn-success {
    background-color: #ce132d;
    color: #ffffff;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-success:hover {
    background-color: #ec3850;
}

.card-columns {
    columns: auto;
    display: inline-block;
    margin: 0px;
}

.card {
    border-width: 0px;
    margin: 0px;
    max-width: 350px;
    min-width: 350px;
}

.card .card-header {
    background: none;
    box-shadow: none;
}

.card .card-body {
    background-color:  #dadada;
    margin: 10px;
}

.card .card-title {
    padding: 10px;
    position: relative;
}

.card .card-text {
    padding: 5px;
    position: relative;
}

.jumbotron {
    padding-bottom: 30px;
    background-color: #ffffff;
}

.float-left {
    margin-right: 30px;
    margin-bottom: 50px;
}

.footer {
    float: bottom;
    position: relative;
    background-color: #cccccc;
}

#formBox {
    float: center;
    max-height: 500px;
    min-height: 500px; 
    margin: auto;
    width: 70%;
    border: 2px solid ce132d;
    padding: 10px;
    align-content: center;
    vertical-align: middle;


}

#searchResultBox {
    margin-bottom: 30px;
}

.navbar-dark {
    background-color: #dadada;
}

.nav-link {
    color: #000000;
}

.see-details{
    background-color: #ffffff;
    border: 2px #dadada solid;
    border-radius: 10px;
    margin: 40px;
    padding: 30px;
}

.see-details-footer{
    color: #919191;
    font-size: 15px;
    padding: 0px;
}